#loader-view {
  /*display: none;*/
}

.loader-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  display: flex;
}

.loader {
  margin: 20px 20px;
  border: 5px solid white; /* Light grey */
  border-top: 5px solid var(--brand-color); /* Blue */
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#pre-quiz-instructions {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pre-quiz-instructions ul {
  margin: 0 10% 5%;
  background: #f8f9fa;
  padding: 14px 50px;
  border-radius: 4px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, .1);
  border: 1px solid #e4eded;
}

#question {
  white-space: pre-wrap;
  padding: 24px;
  background: #f4f4f4;
  border-radius: 4px;
  border: 1px solid #bfbfbf;
}

#options-container {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

#options-container > div {
  outline: none;
  margin: 4px 0;
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  color: #495057;
  text-align: inherit;
  cursor: pointer;
}

#options-container > div:hover {
  color: #495057;
  text-decoration: none;
  background-color: var(--hover-color);
}

#options-container > .user-answer {
  background-color: var(--select-color);
  border-color: var(--select-color)
}

#options-container > .correct-answer {
  background: var(--success-color);
  color: white;
}

#options-container > .wrong-answer {
  background: var(--error-color);
  color: white;
}

.display-none {
  display: none;
}

ul.options {
  margin: 0;
  padding: 0 !important;
}
ul.options li {
  background: #f4f4f4;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  list-style: none;
  margin: 0 0 4px;
  padding: 3px 6px;
}
